@model string

<script src="@Url.Content("~/js/report-viewer.js")"></script>
<script type="text/javascript">
    function eformBeforeRender(s, e) {
        editingFieldsHighlightingEnable(s, e);
        registerNationalityEditor("@Url.Content("~/Content/")");
        disposeOnUnload(s, e);
    }
    function editingFieldsHighlightingEnable(s, e) {
        e.reportPreview.editingFieldsHighlighted(true);
    }
    function ReportDesigner_CustomizeLocalization(s, e) {
        alert("Translation");
    s.UpdateLocalization({
        "Unchecked": "Your Unchecked translation",
        "Checked": "Your  Checked translation",
        "Indeterminate": "Your Indeterminate translation",
        "Search result" : "Resultado da pesquisa"
    });
}
</script>
<div class="wrapper">
    @(Html.DevExpress().WebDocumentViewer("viewer")
        .ClientSideEvents(events =>
        {
            //events.CustomizeLocalization("ReportDesigner_CustomizeLocalization");
            events.CustomizeLocalization(
            "function(s) { " +
            "alert('Translation');" + 
        "s.UpdateLocalization({" +
            "'Preview Parameters': 'Parâmetros do relatório'," +
            "'Export Options': 'Opções de exportação'," +
            "'Submit' : 'Enviar'," + 
            "'Reset': 'Limpar'});}");

            events.BeforeRender("eformBeforeRender");
        }).Height("1000px")
        .Bind(Model))
</div>

@await Html.PartialAsync("_ReportDesignerButton", Model)
